@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

* {
  font-family: "Lato", sans-serif;
}

body {
  background-color: #f5f4f4;
}

html,
body {
  height: 100%;
}

/*#region Alert*/

.alert-progress {
  animation: alert-progress;
  animation-duration: 3000ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

/* .alert {
  animation: alert-hide;
  animation-duration: 3000ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
} */

@keyframes alert-hide {
  0% {
    display: fixed;
  }

  100% {
    display: none;
  }
}

@keyframes alert-progress {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

/*#endregion*/
